.st-content,
.st-content-inner {
  position: relative;
}

.st-container {
  position: relative;
  overflow: hidden;
  &.st-menu-open{
    height: 100vh;
    background: #296B77;
  }
}

.st-pusher {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  perspective: 1000px;
}

//.st-pusher::after {
//  position: absolute;
//  top: 0;
//  right: 0;
//  width: 0;
//  height: 0;
//  background: rgba(0,0,0,0.2);
//  content: '';
//  opacity: 0;
//  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
//  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
//}
//
//.st-menu-open .st-pusher::after {
//  width: 100%;
//  height: 100%;
//  opacity: 1;
//  -webkit-transition: opacity 0.5s;
//  transition: opacity 0.5s;
//}

.st-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  visibility: hidden;
  width: 400px;
  height: 100%;
  background: #296B77;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;

  .st-menu-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    cursor: pointer;
    display: none;
  }
}

.st-menu::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  content: '';
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* content style */

.st-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.st-menu h2 {
  margin: 0;
  padding: 1em;
  color: #296B77;
  text-shadow: 0 0 1px rgba(0,0,0,0.1);
  font-weight: 300;
  font-size: 2em;
  text-align: center;
}

.st-menu ul li a {
  display: block;
  padding: 1em 1em 1em 1.2em;
  outline: none;
  color: #f3efe0;
  text-transform: uppercase;
  text-shadow: 0 0 1px rgba(255,255,255,0.1);
  letter-spacing: 1px;
  font-weight: 400;
  -webkit-transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s;
  text-decoration: none;
}
.st-menu ul li a:hover {
  box-shadow: inset 0 -1px rgba(0,0,0,0);
  color: #fff;
}

/* Effect 11: Scale and rotate pusher */

.st-effect.st-container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
}

.st-effect .st-pusher {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.st-effect.st-menu-open .st-pusher {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(-46px, -18px, -220px) rotateY(15deg);
  transform: translate3d(-46px, -18px, -220px) rotateY(15deg);
  width: calc(100% - 300px);
}

.st-effect.st-menu {
  opacity: 1;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.st-effect.st-menu-open .st-effect.st-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.st-effect.st-menu::after {
  display: none;
}
.socials-box-header{
  display: flex;
  margin-top: 40px;
  .mieter-tabs-icon{
    margin-right: 15px;
  }
  .supsystic-social-sharing{
    .sharer-flat{
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 41px;
      height: 41px;
      background-color: #FFFFFF !important;
      padding: 0;
      i.fa{
        color: #296B77 !important;
        font-size: 20px !important;
      }
      &:hover{
        background-color:  #FFFFFF !important;
      }
    }
  }
}
@media (max-width: 767.98px)  {
  .st-menu {
    width: 100%;

    .st-menu-btn{
      display: block;
    }
  }
}