.areal-page{
  font-family: Roboto;
  .full-thumbnail{
    height: 835px;
    transition: background-position 10ms;
  }
  .vier-gebäude{
    color: #848484;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 80px;
    .vier-gebäude-sub-title{
      font-size: 25px;
      font-weight: lighter;
    }
    .vier-gebäude-title{
      font-size: 70px;
      font-weight: 500;
    }
    .vier-gebäude-text{
      font-size: 20px;
      font-weight: lighter;
    }
  }
  .prime-tower{
    background: #296B77;
    padding-top: 60px;
    color: #FFFFFF;
    padding-bottom: 110px;
    .img-container{
      //position: relative;
      img{
        width: 100%;
      }
      .map{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .prime-tower-title{
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 45px;
    }
    .prime-tower-content{
      border-top: 1px solid #87B7BF;
      height: 55px;
      line-height: 55px;
      .prime-tower-left-content{
        font-size: 20px;
        font-weight: lighter;
      }
      div{
        padding-right: 0;
        padding-left: 0;
      }
      .prime-tower-content-lust{
        line-height: 25px;
        padding-top: 15px;
      }
    }
  }
  .impressionen{
    padding-top: 145px;
    padding-bottom: 115px;
    .impressionen-img{
      width: 100%;
    }
    .impressionen-date{
      width: 100%;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      color: #848484;
      margin-top: 10px;
    }
    .impressionen-text{
      font-size: 14px;
      color: #848484;
      font-weight: 500;
      text-align: left;
      margin-top: 30px;
    }
    .impressionen-main-title{
      width: 100%;
      text-align: center;
      font-size: 70px;
      font-weight: 500;
      color: #848484;
      margin-top: 80px;
      margin-bottom: 55px;
    }
    .impressionen-img-cont{
      img{
        width: calc(100% + 1px);
        height: 100%;
        object-fit: cover;
      }
      div{
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  .zürich-west{
    padding-top: 110px;
    padding-bottom: 100px;
    background: #F2F2F2;
    .zürich-west-title{
      color: #848484;
      font-size: 70px;
      font-weight: 500;
      margin-bottom: 40px;
    }
    .zürich-west-text{
      color: #848484;
      font-size: 20px;
      font-weight: lighter;
    }
  }
  .toni-areal{
    img{
      width: 100%;
    }
    div{
      padding-right: 0;
      padding-left: 0;
    }
    .row{
      margin-right: 0;
      margin-left: 0;
    }
    .toni-areal-text-cont{
      padding-left: 100px;
      padding-top: 112px;
      padding-right: 60px;
      color: #848484;
      .toni-areal-title{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 25px;
      }
      .toni-areal-text{
        font-size: 20px;
        font-weight: lighter;
      }
      .toni-areal-arrow{
        text-align: center;
        margin-top: 45px;
        cursor: pointer;
        img{
          width: 57px;
          height: 44px;
        }
      }
    }
  }
}
@media (min-width: 1920px) {
  .areal-page{
    .full-thumbnail {
      height: 100vh;
      background-repeat: no-repeat;
      background-size: 100% 100vh !important;
    }
  }
}
@media (max-width: 1024px) {
  .areal-page {
    .toni-areal{
      .toni-areal-text-cont{
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    .full-thumbnail{
      max-height: 600px;
      background-size: 100% 600px !important;
    }
    .prime-tower{
      padding-bottom: 145px;
    }
  }
}
@media (max-width: 991px) {
  .areal-page {
    .toni-areal{
      .toni-areal-text-cont{
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }
    .full-thumbnail{
      max-height: 500px;
      background-size: 100% 500px !important;
    }
    .prime-tower{
      .prime-tower-content{
        font-size: 25px;
      }
    }
    .impressionen{
      padding-top: 40px;
      padding-bottom: 40px;
      .impressionen-main-title{
        margin-top: 0;
      }
    }
    #sb_instagram.sbi_col_3 #sbi_images .sbi_item{
      margin-bottom: 15px !important;
      text-align: center;
    }
    .zürich-west{
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}
@media (max-width: 767px) {
  .areal-page{
    .full-thumbnail{
      max-height: 260px;
      background-size: 100% 260px !important;
    }
    .toni-areal{
      .toni-areal-text-cont{
        padding-left: 30px;
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
      }
    }
    .vier-gebäude{
      padding-top: 30px;
      padding-bottom: 30px;
      .vier-gebäude-title{
        font-size: 40px;
      }
    }
    .building-content{
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 15px;
    }
      .prime-tower{
        padding-bottom: 180px;
        .prime-tower-content{
          font-size: 15px;
          .prime-tower-content-lust{
            text-align: center !important;
          }
          .prime-tower-left-content{
            font-size: 15px;
          }
        }
    }
    .impressionen{
      padding-top: 15px;
      padding-bottom: 0;
      .impressionen-main-title{
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 40px;
      }
    }
    .zürich-west{
      padding-top: 30px;
      padding-bottom: 30px;
      .zürich-west-title{
        font-size: 40px;
        margin-bottom: 20px;
      }
    }
  }
}