.business-page{
  .full-thumbnail{
    height: 835px;
    transition: background-position 10ms;
  }
  .kein-business{
    background: #F2F2F2;
    text-align: center;
    padding: 90px 0px;
    font-family: Roboto;
    color: #848484;
    .kein-business-sub-title{
      font-size: 25px;
      font-weight: lighter;
      margin-bottom: 25px;
    }
    .kein-business-title{
      font-size: 70px;
      font-weight: 500;
      margin-bottom: 43px;
    }
    .kein-business-content{
      font-size: 20px;
      font-weight: lighter;
    }
  }
  .mieter{
    font-family: Roboto;
    padding: 94px 0px;
    .mieter-title{
      font-weight: 500;
      color: #3B3B3B;
      font-size: 70px;
      margin-bottom: 65px;
    }
    .mieter-tabs{
      height: 82px;
      color: #296B77;
      line-height: 82px;
      overflow: hidden;
      border-top: 1px solid #707070;
      transition: all 360ms;
      &.last{
        border-bottom: 1px solid #707070;
      }
      &.show-mieter-tabs{
        height: auto !important;
        .mieter-tabs-icon{
        }
      }
      .mieter-tabs-shows{
        border-top: 1px solid #707070;
        span{
          font-weight: lighter;
          color: #296B77;
          font-size: 30px;
          padding-left: 95px;
        }
        .mieter-tabs-soc-icon{
          width: 41px;
          height: 41px;
          margin-left: 30px;
          cursor: pointer;
        }
      }
      .mieter-tabs-icon{
        margin-right: 43px;
        width: 47px;
        height: 47px;
        transform: translateY(-5px);
        cursor: pointer;
      }
      span{
        font-size: 30px;
        font-weight: 500;
      }
    }
  }
  .hochkarätige{
    font-family: Roboto;
    color: #FFFFFF;
    .no-padding{
      padding: 0 !important;
    }
    .row{
      margin: 0;
    }
    img{
      width: 100%;
      height: calc(100% + 1px);
    }
    .hochkarätige-content-cont{
      background: #296B77;
      padding-top: 55px;
      padding-left: 98px;
      padding-right: 30px;
      height: 100%;
      padding-bottom: 25px;
      .hochkarätige-title{
        font-size: 70px;
        font-weight: 500;
        line-height: 88px;
        margin-bottom: 41px;
      }
      .hochkarätige-content{
        font-size: 20px;
        font-weight: lighter;
        margin-bottom: 80px;
      }
      .hochkarätige-soc{
        a{
          &:last-child{
            img{
              margin-right: 0;
            }
          }
        }
      }
      .hochkarätige-btn{
        font-size: 30px;
        font-weight: lighter;
        margin-bottom: 70px;
        & a{
          border: 1px solid #FFFFFF;
          color: #FFFFFF;
          text-decoration: none;
          padding: 25px 45px;
        }
      }
      .hochkarätige-info{
        & p{
          font-size: 20px;
          font-weight: 500;
          line-height: 11px;
        }
      }
      .hochkarätige-soc{
        padding-top: 15px;
        & img{
          width: 41px;
          height: 41px;
          margin-right: 20px;
          cursor: pointer;
        }
      }
    }
  }
}
@media (min-width: 1920px) {
  .business-page{
    .full-thumbnail {
      height: 100vh;
      background-repeat: no-repeat;
      background-size: 100% 100vh !important;
    }
  }
}
@media (max-width: 1024px) {
  .business-page{
    .full-thumbnail{
      max-height: 600px;
      background-size: 100% 600px !important;
    }
    .mieter{
      .mieter-tabs{
        .mieter-tabs-shows{
          span{
            padding-left: 0;
            font-size: 25px;
            font-weight: normal;
          }
          .mieter-tabs-soc-icon{
            margin-left: 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .business-page{
    .full-thumbnail{
      max-height: 500px;
      background-size: 100% 500px !important;
    }
    .mieter{
      .mieter-tabs{
        .mieter-tabs-shows{
          span{
            padding-left: 0;
            font-size: 25px;
            font-weight: normal;
          }
          .mieter-tabs-soc-icon{
            margin-left: 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .business-page{
    .full-thumbnail{
      max-height: 260px;
      background-size: 100% 260px !important;
    }
    .kein-business{
     padding: 30px 0;
      .kein-business-title{
        font-size: 40px;
        margin-bottom: 20px;
      }
      .kein-business-sub-title{
        margin-bottom: 15px;
      }
    }
    .hochkarätige{
      img{
        max-height: 230px;
        object-fit: cover;
      }
      .hochkarätige-content-cont{
        padding-left: 30px;
        .hochkarätige-title{
          font-size: 40px;
          line-height: 50px;
        }
      }
    }
    .mieter{
      padding: 30px 0;
      .mieter-title{
        font-size: 40px;
        margin-bottom: 30px;
        text-align: center;
      }
      .mieter-tabs{
        span{
          font-size: 20px;
        }
        .mieter-tabs-shows{
          span{
            padding-left: 0;
            width: 100%;
            text-align: center;
            display: block;
            font-size: 18px;
            font-weight: 300;
          }
            a{
              .mieter-tabs-soc-icon{
                margin-left: 0;
                margin-right: 30px;
              }
              &:last-child{
                .mieter-tabs-soc-icon{
                  margin-right: 0;
                }
              }
            }
        }
      }
    }
  }
}