.contact-page{
  font-family: Roboto;
  color: #848484;
  .full-thumbnail{
    height: 835px;
    transition: background-position 10ms;
  }
  .contact-section{
    background: #F2F2F2;
    padding-top: 90px;
    padding-bottom: 150px;
  }
  .contact-page-title{
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 25px;
  }
  .contact-text-title{
    font-size: 70px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 85px;
  }
  .contact-text-sub-title{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 35px;
  }
  input{
    width: 100%;
    height: 45px;
    background: transparent;
    border: 1px solid #848484;
    padding: 0 15px;
    color: #848484;
    box-shadow: none;
    outline: none;
    margin-bottom: 43px;
  }
  textarea{
    width: 100%;
    padding: 0 15px;
    color: #848484;
    box-shadow: none;
    outline: none;
    background: transparent;
    border: 1px solid #848484;
    height: 115px;
    margin-bottom: 40px;
  }
  .contact-radio-cont{
    .wpcf7-list-item{
      margin-left: 0;
      margin-right: 20px;
    }
    &.contact-radio-main{
      margin-bottom: 100px;
    }
    &.contact-radio-male{
      margin-bottom: 10px;
    }
    input{
      width: 20px;
      height: 20px;
      transform: translateY(4px);
    }
  }
  .contact-send-btn{
    input{
      max-width: 300px;
      padding: 20px 0;
      height: auto;
      margin-bottom: 0;
      font-size: 25px;
      text-transform: uppercase;
    }
  }
  .bottom-contact{
    padding-top: 120px;
    padding-bottom: 120px;
    .bottom-contact-title{
      font-size: 30px;
      font-weight: lighter;
      margin-bottom: 25px;
    }
    .bottom-contact-text{
      p{
        font-size: 20px;
        font-weight: lighter;
        margin-bottom: 0;
      }
    }
    .bottom-contact-soc{
      margin-top: 40px;
      img{
        width: 40px;
        height: 40px;
        margin-right: 20px;
      }
    }
  }
}
@media (min-width: 1920px) {
  .contact-page{
    .full-thumbnail {
      height: 100vh;
      background-repeat: no-repeat;
      background-size: 100% 100vh !important;
    }
  }
}
@media (max-width: 1024px) {
  .contact-page {
    .full-thumbnail {
      max-height: 600px;
      background-size: 100% 600px !important;
    }
  }
}
@media (max-width: 991px) {
  .contact-page{
    .full-thumbnail{
      max-height: 500px;
      background-size: 100% 500px !important;
    }
    .bottom-contact{
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
      .bottom-contact-title{
        margin-bottom: 10px;
      }
      .bottom-contact-soc{
        margin-top: 12px;
        margin-bottom: 15px;
      }
    }
    .contact-send-btn{
      input{
        max-width: 100%;
        width: 100%;
        margin-top: 20px;
      }
    }
    .contact-radio-cont-mobile{
      .wpcf7-list-item{
        float: left;
      }
      label{
        width: 85%;
      }
    }
    textarea{
      margin-bottom: 15px;
    }
    input{
      margin-bottom: 20px;
    }
    .contact-page-title{
      margin-bottom: 0;
    }
    .contact-section{
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .contact-text-title{
      font-size: 40px;
      margin-bottom: 30px;
    }
    .contact-radio-cont{
      .wpcf7-list-item{
        font-size: 20px;
        display: block;
        height: 40px;
      }
      &.contact-radio-main{
        margin-bottom: 30px;
      }
      &.contact-radio-male{
        margin-bottom: 20px;
      }
    }
  }
}
@media (max-width: 767px) {
  .contact-page{
    .full-thumbnail{
      max-height: 260px;
      background-size: 100% 260px !important;
    }
    .bottom-contact{
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
      .bottom-contact-title{
        margin-bottom: 10px;
      }
      .bottom-contact-soc{
        margin-top: 12px;
        margin-bottom: 15px;
      }
    }
    .contact-send-btn{
      input{
        max-width: 100%;
        width: 100%;
        margin-top: 20px;
      }
    }
    .contact-radio-cont-mobile{
      .wpcf7-list-item{
        float: left;
      }
      label{
        width: 85%;
      }
    }
    textarea{
      margin-bottom: 15px;
    }
    input{
      margin-bottom: 20px;
    }
    .contact-page-title{
      margin-bottom: 0;
    }
    .contact-section{
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .contact-text-title{
      font-size: 40px;
      margin-bottom: 30px;
    }
    .contact-radio-cont{
      .wpcf7-list-item{
        font-size: 20px;
        display: block;
        height: 40px;
      }
      &.contact-radio-main{
        margin-bottom: 30px;
      }
      &.contact-radio-male{
        margin-bottom: 20px;
      }
    }
  }
}