.home-page {
  .home-maine-text{
    font-size:25px;    color:#FFFFFF;
    padding-top:350px;
    font-family: Roboto;
  }
  .full-thumbnail{
    height: 835px;
    transition: background-position 10ms;
  }
  .section-business{
    background: #296B77;

    .business-text{
      font-family: Roboto;
      font-size: 20px;
      font-weight: lighter;
      color: #FFFFFF;
      padding-top: 90px;
    }
    .home-pages{
      margin-top: 140px;

      .page-block {
        .page-data{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          flex-direction: column;

          .block-title{
            font-size: 70px;
            font-family: Roboto;
            font-weight: 500;
            color: #FFFFFF;
          }
          .arrow{
            margin-top: 20px;
          }
        }
        .page-image{
          position: relative;
          img{
            width: 100%;
          }
          .page-logo{
            position: absolute;
            bottom: 25%;
            right: 0;
            transform: translateX(50%);
          }
        }
      }
    }
  }

  .metric-block{
    width: 100%;
    height: 325px;
    background: rgba(175, 154, 133, .2);

    .number-line{
      height: 325px;

      .number-item{
        flex-direction: column;
        text-align: center;
        align-items: center;
        height: 116px;

        & + .number-item{
          border-left: 1px solid #AF9A85;
        }

        .number-box{
          font-size: 50px;
          font-family: Roboto;
          font-weight: 500;
          color: #AF9A85;
        }

        .after-text{
          font-size: 21px;
          font-family: Roboto;
          font-weight: 400;
          color: #AF9A85;
        }
      }
    }
  }
  .section-map{
    .home-map{
      .map-image{
        img{
          width: 100%;
          object-fit: contain;
        }
      }
      .map-data{
        background: #296B77;
        padding: 30px;
        .title{
          font-size: 30px;
          font-family: Roboto;
          font-weight: 400;
          color: #FFFFFF;
        }
        p{
          font-size: 20px;
          font-family: Roboto;
          font-weight: 300;
          color: #FFFFFF;
        }
        .map-table{
          .table-head, .table-row{
            display: grid;
            grid-template-columns: auto 82px 12px 82px 20px;
          }
          .table-head{
            height: 82px;
            .car, .bus{
              background: #87B7BF;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          .table-row{
            min-height: 46px;
            & > div{
              border-right: 1px solid #87B7BF;
              &:last-child{
                border-right: 0;
              }
            }
            & + .table-row{
              border-top: 1px solid #87B7BF;
            }
            .title{
              font-size: 20px;
              font-family: Roboto;
              font-weight: 300;
              color: #FFFFFF;
              line-height: 46px;
            }
            .time{
              font-size: 20px;
              font-family: Roboto;
              font-weight: 400;
              color: #FFFFFF;
              line-height: 46px;
              text-align: center;
            }
            &:last-child{
              .time{
                border-bottom: 1px solid #87B7BF;
              }
            }
          }
        }
      }
    }
  }
  .aktuell{
    font-family: Roboto;
    color: #848484;
    padding-top: 120px;
    padding-bottom: 170px;
    img{
      width: 100%;
    }
    .aktuell-main-title{
      font-size: 70px;
      font-weight: 500;
      margin-bottom: 90px;
    }
    .home-post-title{
      font-size: 30px;
      font-weight: 500;
      margin-top: 25px;
      margin-bottom: 28px;
    }
    .home-post-date{
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 30px;
    }
    .home-post-text{
      font-size: 20px;
      font-weight: lighter;
      margin-bottom: 45px;
      min-height: 90px;
    }
    .post-home-btn{
      color:  #296B77;
      font-size: 30px;
      font-weight: lighter;
      padding: 15px 40px;
      border: 1px solid #848484;
      text-decoration: none;
    }
  }
}
@media (min-width: 1920px) {
  .home-page {
    .full-thumbnail {
      height: 100vh;
      background-repeat: no-repeat;
      background-size: 100% 100vh !important;
    }
  }
}
@media (max-width: 1024px) {
  .home-page{
    .full-thumbnail{
      max-height: 600px;
      background-size: 100% 600px !important;
    }
    .aktuell{
      .mobile-aktuell-position{
        width: 100%;
        text-align: left;
      }
      padding-top: 20px;
      padding-bottom: 0px;
      .aktuell-main-title{
        margin-bottom: 20px;
      }
      .aktuell-mobile-content{
        margin-bottom: 45px;
      }
      .home-post-title{
        margin-bottom: 10px;
        font-size: 25px;
      }
      .home-post-date{
        margin-bottom: 10px;
      }
      .home-post-text{
        margin-bottom: 25px;
        min-height: 120px;
      }
    }
    .full-thumbnail{
      max-height: 500px;
      background-size: 100% 500px !important;
    }
    .home-maine-text{
      padding-top: 200px;
    }
    .aktuell{
      padding-top: 20px;
      padding-bottom: 0;
      .aktuell-main-title{
        margin-bottom: 20px;
      }
      .aktuell-mobile-content{
        margin-bottom: 40px;
      }
    }
    .section-business{
      .home-pages{
        margin-top: 40px;
        .page-block{
          .page-image{
            .page-logo{
              transform: translateX(0);
            }
          }
          .page-data{
            text-align: center;
            .block-title{
              font-size: 50px;
            }
          }
        }
      }
    }
    .metric-block{
      height: 210px;
      .number-line{
        height: 210px;
        .number-item{
          .after-text{
            font-size: 19px;
          }
          .number-box{
            font-size: 25px;
          }
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .home-page{
    .full-thumbnail{
      max-height: 500px;
      background-size: 100% 500px !important;
    }
    .home-maine-text{
      padding-top: 200px;
    }
    .aktuell{
      padding-top: 20px;
      padding-bottom: 0;
      .aktuell-main-title{
        margin-bottom: 20px;
      }
      .aktuell-mobile-content{
        margin-bottom: 40px;
      }
    }
    .section-business{
      .home-pages{
        margin-top: 40px;
        .page-block{
          .page-image{
            .page-logo{
              transform: translateX(0);
            }
          }
          .page-data{
            text-align: center;
            .block-title{
              font-size: 50px;
            }
          }
        }
      }
    }
    .metric-block{
      height: 210px;
      .number-line{
        height: 210px;
        .number-item{
          .after-text{
            font-size: 19px;
          }
          .number-box{
            font-size: 25px;
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .home-page{
    .full-thumbnail{
      max-height: 260px;
      background-size: 100% 260px !important;
    }
    .home-maine-text{
      padding-top: 115px;
      font-size: 20px;
      text-align: center;
      span{
        font-size: 40px !important;
        line-height: 50px !important;
      }
    }
    .section-business{
      .business-text{
        padding-top: 25px;
      }
      .home-pages{
        margin-top: 0;
        .page-block{
          .page-image{
            .page-logo{
              transform: translateX(0);
              bottom: 20%;
            }
          }
          .page-data{
            .arrow{
              margin-bottom: 20px;
            }
            .block-title{
              font-size: 55px;
            }
          }
        }
      }
    }
    .metric-block{
      height: auto;
      padding-bottom: 10px;
      .number-line{
        height: auto;
        .number-item + .number-item{
          border-left: none;
          border-top: 1px solid #AF9A85;
        }
      }
    }
    .section-map{
      .home-map{
        .map-data{
          padding: 50px 10px;
        }
      }
    }
    .aktuell{
      .mobile-aktuell-position{
        width: 100%;
        text-align: center;
      }
      padding-top: 20px;
      padding-bottom: 0px;
      .aktuell-main-title{
        margin-bottom: 20px;
      }
      .aktuell-mobile-content{
        margin-bottom: 45px;
      }
      .home-post-title{
        margin-bottom: 10px;
      }
      .home-post-date{
        margin-bottom: 10px;
      }
      .home-post-text{
        margin-bottom: 25px;
      }
    }
  }
}