.services-page{
  .services-logo-img{
    height: 545px;
    object-fit: cover;
  }
  font-family: Roboto;
  .full-thumbnail{
    height: 835px;
    transition: background-position 10ms;
  }
  .kein-business{
    background: #F2F2F2;
    text-align: center;
    padding: 90px 0px;
    font-family: Roboto;
    color: #848484;
    .kein-business-sub-title{
      font-size: 25px;
      font-weight: lighter;
      margin-bottom: 25px;
    }
    .kein-business-title{
      font-size: 70px;
      font-weight: 500;
      margin-bottom: 43px;
    }
    .kein-business-content{
      font-size: 20px;
      font-weight: lighter;
    }
  }
  .services{
    background: #F2F2F2;
    .service-container{
      max-width: 550px;
      text-align: center;
      padding: 58px 25px 55px 25px;
      margin-right: 80px;
      margin-left: 80px;
      background: #ffffff;
      transform: translateY(-110px);
      .servise-title{
        color: #848484;
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 20px;
      }
      .servise-text{
        color: #848484;
        font-size: 20px;
        font-weight: lighter;
        margin-bottom: 35px;
      }
      .mieter-tabs-icon{
        cursor: pointer;
      }
    }
  }
}
@media (min-width: 1920px) {
  .services-page{
    .full-thumbnail {
      height: 100vh;
      background-repeat: no-repeat;
      background-size: 100% 100vh !important;
    }
  }
}
@media (max-width: 1024px) {
  .services-page{
    .full-thumbnail{
      max-height: 600px;
      background-size: 100% 600px !important;
    }
  }
  .mobile-services-padding{
    img{
      min-height: 450px;
    }
  }
}
@media (max-width: 991px) {
  .services-page{
    .full-thumbnail{
      max-height: 500px;
      background-size: 100% 500px !important;
    }
  }
}
  @media (max-width: 767px) {
    .mobile-services-padding{
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .services-page{
    .full-thumbnail{
      max-height: 260px;
      background-size: 100% 260px !important;
    }
    .services{
      .service-container{
        margin-right: 0;
        margin-left: 0;
        transform: translateY(0);
      }
    }
    .kein-business{
      padding: 40px 0;
      .kein-business-title{
        font-size: 40px;
        margin-bottom: 10px;
      }
    }
  }
}