.site-footer {
  height: 379px;
  width: 100%;
  background: #3B3B3B;
  padding-top: 50px;
  color: #848484;
  .footer-nav .menu li {
    margin-right: 1rem;
  }
  .footer-nav .menu li a {
    padding: 0.2rem 0;
  }
  .futer-soc-cont{
    img{
      cursor: pointer;
      margin-right: 15px;
    }
    .socials-box{
      display: flex;
      .supsystic-social-sharing{
        .sharer-flat{
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 41px;
          height: 41px;
          background-color: #848484;
          padding: 0;
          i.fa{
            color: #3B3B3B;
            font-size: 20px !important;
          }
          &:hover{
            background-color: #848484 !important;
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .site-footer{
    .futer-soc-cont{
      .socials-box{
        .supsystic-social-sharing{
          .sharer-flat{
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .site-footer{
    height: auto;
    .futer-soc-cont{
      margin-top: 15px;
      margin-bottom: 15px;

    }
    .foter-mobele-content{
      min-height: 48px;
    }

  }
}