.search.search-no-results.logged-in.wp-custom-logo.translatepress-de_CH{
  margin-right: 0;
}
.site-header {
  .menu-icon{
    margin-top: -10px;
    width: 25px;
    height: 22px;
  }
  .trp-ls-shortcode-language{
    margin-right: 25px;
  }
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 30px;
  .site-logo{
    img{
      margin-top: 15px;
      max-width: 235px;
      max-height: 25px;
    }
  }
}
.fa{
  &.fa-bars{
    transform: translateY(2px);
  }
}
.fa-navicon:before, .fa-reorder:before, .fa-bars:before{
  font-size: 25px;
  color: #FFFFFF;
  cursor: pointer;
}
.search{
  margin-right: 45px;
  div.asl_m .proinput input.orig{
    padding-left: 20px !important;
  }
  #ajaxsearchlite1 .probox .proinput input, div.asl_w .probox .proinput input{
    color: #ffffff !important;
    &::-webkit-input-placeholder{
      color: #ffffff !important
    }
  }
  .promagnifier{
    box-shadow: none !important;
  }
  div{
    &.asl_m{
      &.asl_w{
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;

      }
    }
  }
  .probox{
    position: relative;
    .promagnifier{
      position: absolute;
      left: 0;
      z-index: 2;
    }
  }
}
.popup-right-block{
  border: none !important;
  padding-left: 100px !important;
  padding-top: 50px;
  font-family: Roboto;
  color: #296B77;
  .popup-title{
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  .popup-table{
    tr{
      border-bottom: 1px solid #707070;
      td{
        padding-bottom: 25px;
        padding-top: 25px;
        padding-right: 23px;
        &:last-child{
          padding-right: 0;
        }
      }
    }
  }
  p{
    margin-top: 65px;
  }
  .popup-btn{
    font-size: 30px;
    font-weight: 300;
    color: #296B77;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #848484;
    padding: 20px 70px;
  }
}
.pum-close{
  &.popmake-close{
    &:before{
      content: url("/wp-content/uploads/2019/04/Path 449.png");
      border: 2px;
    }
  }
}
.wpdreams_asl_results{
  display: none !important;
}
.proloading{
  display: none !important;
}
@media (max-width: 1024px) {
  .popup-right-block{
    .popup-title{
      font-size: 45px;
    }
  }
}
@media (max-width: 768px) {
  .pum-theme-105 .pum-content + .pum-close, .pum-theme-default-theme .pum-content + .pum-close{
    background: #ffffff;
    right: 20px;
    top: 20px;
    border: #ffffff;
  }
  .popap-img-style{
    max-height: 230px !important;
    object-fit: cover;
  }
  .popup-right-block{
    padding-left: 0 !important;
    padding-top: 10px;
    .popup-table{
      text-align: center;
      display: flex;
      justify-content: center !important;
    }
    p{
      text-align: center;
      margin-top: 55px;
    }
    .popup-title{
      font-size: 30px;
      text-align: center;
      margin-bottom: 0;
    }
  }
}